body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
}

h2 {
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
  }

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

hr{
  width:5%;
  margin: 80px auto 80px auto;
  border: none;
  border-top: 7px dotted;
  color: #E6E6E6
}



.top-container {
  background-color: #d0e8f2;
  padding-top:100px;
}

.middle-container {
  line-height: 2
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top:30px;
  padding-bottom: 30px;
}

.top-cloud{
  position: absolute;
  top:50px;
  right:300px;
}

.bottom-cloud{
  position: absolute;
  left:auto;
}

.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto ;
  line-height: 2;
}

.math{
 width: 25%;
 float: left;
 margin-right: 30px;
 border-radius: 50%;
}

.computer{
 width: 25%;
 float: right;
 margin-left: 30px;
 border-radius: 50%;
}

.증명사진{
  width: 15%;
  margin-top: 70px;
  border-radius:50%;
}

.소개{
  width: 30%;
  margin: 30px auto 30px auto;
  text-align:left;
}

.footer-link{
  margin: 50px 20px 50px 20px;
  color: #11999E;
  text-decoration: none;
}

.tail{
  font-size: 0.7rem;
  margin-top: 30px;
  color: #EAF6F6
}

.BUTTON_EPD {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #617CA7);
   background-image: -moz-linear-gradient(top, #66BFBF, #617CA7);
   background-image: -ms-linear-gradient(top, #66BFBF, #617CA7);
   background-image: -o-linear-gradient(top, #66BFBF, #617CA7);
   background-image: -webkit-gradient(to bottom, #66BFBF, #617CA7);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 400;
   padding: 5px 15px 5px 15px;
   -webkit-box-shadow: 0 1px 4px 0 #000000;
   -moz-box-shadow: 0 1px 4px 0 #000000;
   box-shadow: 0 1px 4px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px auto 50px auto;
}

.BUTTON_EPD:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #256FC3);
   background-image: -moz-linear-gradient(top, #1E62D0, #256FC3);
   background-image: -ms-linear-gradient(top, #1E62D0, #256FC3);
   background-image: -o-linear-gradient(top, #1E62D0, #256FC3);
   background-image: -webkit-gradient(to bottom, #1E62D0, #256FC3);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   margin: 50px auto 50px auto;
}
